<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <div class="container" style="text-align: center">
           {% include 'navbar.html'  %}
         
           <h1>This is our official website</h1>
           <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita tenetur molestias illo cum in aperiam, quam odio dolorem, perferendis, iure a placeat laborum neque! Quasi dignissimos perferendis consectetur magnam unde laboriosam, laudantium atque iusto hic explicabo libero id ipsum neque accusamus modi harum possimus dolores deleniti molestiae numquam mollitia. Tenetur!
           </p>
           <Button>Contact us</Button>
    </div>
    
</body>
</html>